@use "sass:map";
@use "../variables";

@mixin responsive-helper($prefix, $rule, $map, $use_prefix: true) {
  @each $bp-key in map.keys(variables.$breakpoints) {
    @if ($bp-key == initial) {
      @each $key in map.keys($map) {
        $value: map.get($map, $key);

        $class_name: if($use_prefix, "#{$prefix}-#{$key}", "#{$key}");
        .#{$class_name} {
          #{$rule}: $value;
        }
      }
    } @else {
      $bp-value: map.get(variables.$breakpoints, $bp-key);
      @media screen and (min-width: $bp-value) {
        @each $key in map.keys($map) {
          $value: map.get($map, $key);

          $class_name: if($use_prefix, "#{$bp-key}:#{$prefix}-#{$key}", "#{$bp-key}:#{$key}");
          .#{$class_name} {
            #{$rule}: $value;
          }
        }
      }
    }
  }
}
