@mixin responsive-helper($prefix, $rule, $map) {
  @each $bp-key in map-keys($breakpoints) {
    @if ($bp-key == initial) {
      @each $key in map-keys($map) {
        $value: map-get($map, $key);

        .#{$prefix}-#{$key} {
          #{$rule}: $value;
        }
      }
    } @else {
      $bp-value: map-get($breakpoints, $bp-key);
      @media screen and (min-width: $bp-value) {
        @each $key in map-keys($map) {
          $value: map-get($map, $key);

          .#{$prefix}-#{$bp-key}-#{$key} {
            #{$rule}: $value;
          }
        }
      }
    }
  }
}
