@use "_responsive.scss";
@use "../variables";

$flex: (
  "row": row,
  "col": column,
);

$items: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
);

$justify: (
  "start": flex-start,
  "center": center,
  "end": flex-end,
  "between": space-between,
);

@include responsive.responsive-helper("flex", "flex-direction", $flex, true);
@include responsive.responsive-helper("items", "align-items", $items, true);
@include responsive.responsive-helper("justify", "justify-content", $justify, true);
@include responsive.responsive-helper("gap", "gap", variables.$spaces, true);
