@use "../mixins/button";
@use "../mixins/shared";

.btn {
  @extend %interactive-element;
  @extend %button;
  border-radius: var(--border-radius);
  text-decoration: none;

  svg {
    @extend %button-icon;
  }

  &-label {
    @extend %button-label;
  }

  &-circle {
    border-radius: 100%;
  }

  &-loading {
    animation: loading-animation 1s linear infinite;
  }

  @include button.button-colors($selector: btn);
  @include button.button-sizes();
}

@keyframes loading-animation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
