@use "sass:map";
@use "../variables";
@use "../mixins/card.scss";

.card {
  @extend %card;

  &-border {
    border: variables.$border-width solid var(--outline);
  }

  &-title {
    @extend %card-title;
  }

  &-content {
    @extend %card-content;
    color: var(--on-surface);
  }

  &-actions {
    @extend %card-actions;
  }

  &-media {
    @extend %card-media;
  }

  &:has(.card-title, .card-content) .card-media {
    margin-bottom: 0.2rem;
  }
}
