@use "../mixins/checkbox";
@use "../mixins/shared";

.checkbox {
  @extend %interactive-element;
  @extend %checkbox;

  input {
    @extend %checkbox-input;
    border-radius: var(--border-radius-sm);

    &:not(:checked) + svg {
      display: none;
    }

    &:checked + svg {
      display: block;
      position: absolute;
      pointer-events: none;
    }
  }

  &-disabled {
    &,
    & > * {
      cursor: not-allowed;
    }
  }

  @include checkbox.checkbox-colors();
  @include checkbox.checkbox-sizes();
}
