.checkbox {
  @extend %checkbox;
}

.checkbox input {
  @extend %checkbox-input;
  border-radius: var(--border-radius);
}

.checkbox input:not(:checked) + svg {
  display: none;
}

.checkbox input:checked + svg {
  display: block;
  position: absolute;
  pointer-events: none;
}

.checkbox:not(.checkbox-disabled),
.checkbox:not(.checkbox-disabled) > * {
  cursor: pointer;
  transition: all var(--motion-time-sm);
}

@include checkbox-colors();

.checkbox-disabled,
.checkbox-disabled > * {
  cursor: not-allowed;
}

@include checkbox-sizes();
