@use "../mixins/card.scss";
@use "../mixins/shared";

.dialog {
  @extend %flex-center;

  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(2px);

    [data-theme="light"] & {
      background-color: rgba(0, 0, 0, 0.3);
    }
    [data-theme="dark"] & {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  &-inner {
    @extend %card;
    width: 460px;
  }

  &-title {
    @extend %card-title;
  }

  &-content {
    @extend %card-content;
  }

  &-actions {
    @extend %card-actions;
  }
}
