@use "../mixins/radio";
@use "../mixins/checkbox";
@use "../mixins/shared";
.radio {
  @extend %interactive-element;
  @extend %checkbox;

  input {
    @extend %checkbox-input;
    border-radius: 100%;

    &:checked::before {
      position: absolute;
      display: block;
      content: "";
      border-radius: 100%;
    }
  }

  &-disabled {
    &,
    & > * {
      cursor: not-allowed;
    }
  }

  @include radio.radio-colors();
  @include radio.radio-sizes();
}
