:root {
  --gray-50: #fafafa;
  --gray-100: #f5f5f5;
  --gray-200: #e5e5e5;
  --gray-300: #d4d4d4;
  --gray-400: #a3a3a3;
  --gray-500: #737373;
  --gray-600: #525252;
  --gray-700: #404040;
  --gray-800: #262626;
  --gray-900: #171717;
  --white: #ffffff;
  --black: #000000;
  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --yellow-50: #fefce8;
  --yellow-100: #fef9c3;
  --yellow-200: #fef08a;
  --yellow-300: #fde047;
  --yellow-400: #facc15;
  --yellow-500: #eab308;
  --yellow-600: #ca8a04;
  --yellow-700: #a16207;
  --yellow-800: #854d0e;
  --yellow-900: #713f12;
  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --blue-50: #f0f9ff;
  --blue-100: #e0f2fe;
  --blue-200: #bae6fd;
  --blue-300: #7dd3fc;
  --blue-400: #38bdf8;
  --blue-500: #0ea5e9;
  --blue-600: #0284c7;
  --blue-700: #0369a1;
  --blue-800: #075985;
  --blue-900: #0c4a6e;
  --purple-50: #f9fafe;
  --purple-100: #ecedfc;
  --purple-200: #d0d2f7;
  --purple-300: #b5b8f2;
  --purple-400: #9a9eec;
  --purple-500: #7a82e4;
  --purple-600: #6167c9;
  --purple-700: #5756a6;
  --purple-800: #494582;
  --purple-900: #38325d;
  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
}

[data-theme="dark"] {
  --primary: var(--blue-400);
  --primary-hover: var(--blue-500);
  --primary-pressed: var(--blue-700);
  --on-primary: var(--black);
  --primary-subdued: var(--blue-700);
  --inherit: rgba(255, 255, 255, 0.2);
  --inherit-hover: rgba(255, 255, 255, 0.15);
  --inherit-pressed: rgba(255, 255, 255, 0.1);
  --text-primary: var(--gray-50);
  --text-secondary: var(--gray-300);
  --background: var(--black);
  --action-disabled-text: var(--gray-500);
  --action-disabled-background: var(--gray-700);
  --surface: var(--gray-900);
  --on-surface: var(--gray-100);
  --on-surface-variant: var(--gray-400);
  --outline: var(--gray-600);
  --success: var(--green-400);
  --success-hover: var(--green-500);
  --success-pressed: var(--green-700);
  --success-subdued: var(--green-900);
  --on-success: var(--black);
  --error: var(--red-500);
  --error-hover: var(--red-600);
  --error-pressed: var(--red-800);
  --error-subdued: var(--red-900);
  --on-error: var(--black);
}

[data-theme="light"] {
  color-scheme: light;

  --primary: var(--blue-500);
  --primary-hover: var(--blue-600);
  --primary-pressed: var(--blue-800);
  --on-primary: var(--white);
  --primary-subdued: var(--blue-100);
  --inherit: rgba(0, 0, 0, 0.1);
  --inherit-hover: rgba(0, 0, 0, 0.2);
  --inherit-pressed: rgba(0, 0, 0, 0.3);
  --text-primary: var(--black);
  --text-secondary: var(--gray-600);
  --background: var(--gray-100);
  --action-disabled-text: var(--gray-400);
  --action-disabled-background: var(--gray-300);
  --surface: var(--gray-100);
  --on-surface: var(--black);
  --on-surface-variant: var(--gray-500);
  --outline: var(--gray-300);
  --success: var(--green-500);
  --success-hover: var(--green-600);
  --success-pressed: var(--green-800);
  --success-subdued: var(--green-100);
  --on-success: var(--white);
  --error: var(--red-500);
  --error-hover: var(--red-600);
  --error-pressed: var(--red-800);
  --error-subdued: var(--red-100);
  --on-error: var(--white);
}
