@use "sass:map";
@use "../variables";

%card {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: map.get(variables.$spaces, "5");
  padding: map.get(variables.$spaces, "5");
  background-color: var(--surface);
  border-radius: var(--border-radius);
  overflow: hidden;
}

%card-title {
  margin-top: -0.4rem;
  margin-bottom: -0.4rem;
}

%card-content {
  margin-top: -0.6rem;
  margin-bottom: -0.4rem;
}

%card-media {
  position: relative;
  z-index: 1;
  margin-top: map.get(variables.$spaces, "5") * -1;
  margin-left: map.get(variables.$spaces, "5") * -1;
  margin-right: map.get(variables.$spaces, "5") * -1;
}

%card-actions {
  display: flex;
  justify-content: flex-end;
  gap: map.get(variables.$spaces, "2");
}
