@use "sass:map";
@use "../variables";

%checkbox {
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
}

%checkbox-input {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-width) solid;
}

@mixin checkbox-colors() {
  input {
    border-color: var(--outline);

    &:checked {
      border-color: var(--primary);

      & + svg {
        color: var(--primary);
      }
    }
  }

  @each $color in error, success {
    &-#{$color} input {
      border-color: var(--#{$color});

      &:checked {
        border-color: var(--#{$color});

        & + svg {
          color: var(--#{$color});
        }
      }
    }
  }

  &-disabled {
    input {
      border-color: var(--outline);

      &:checked {
        border-color: var(--outline);

        & + svg {
          color: var(--outline);
        }
      }
    }
  }
}

@mixin checkbox-sizes() {
  @each $size in sm, md, lg {
    $width: map.get(variables.$checbox-sizes, $size);
    $height: map.get(variables.$checbox-sizes, $size);
    $gap: map.get(variables.$checbox-gap, $size);
    $icon-size: map.get(variables.$icon-sizes, $size);
    $mask-padding: 0.3rem;

    &-#{$size} {
      gap: $gap;

      input {
        width: $width;
        height: $height;

        & + svg {
          left: calc(($width - $icon-size) / 2);
          padding: $mask-padding;
          box-sizing: border-box;
        }
      }
    }
  }
}
