@use "sass:map";
@use "../variables";

@mixin chip-sizes() {
  @each $size in sm, md, lg {
    $py: map.get(variables.$chip-sizes, $size);
    $px: $py * 1.5;
    $radius: $py * 2 + 2.4rem;
    $gap: $py * 0.75;
    $font-size: map.get(variables.$chip-font-sizes, $size);

    &-#{$size} {
      padding: calc($py - variables.$border-width) $px;
      border-radius: $radius;
      font-size: $font-size;

      &.chip-w-start {
        gap: $gap;
        padding-left: calc($gap + variables.$border-width);
      }

      &.chip-w-end {
        gap: $gap;
        padding-right: calc($gap + variables.$border-width);
      }
    }
  }
}
