@use "sass:map";
@use "../variables";
@use "./shared";

%input {
  display: flex;
  align-items: center;
  position: relative;
  color: var(--text-primary);
}

%input-input {
  display: block;
  line-height: 2.4rem;
  border: variables.$border-width solid var(--outline);
  color: inherit;
  transition: all var(--motion-time-sm) ease-in-out;
}

%input-icon {
  @extend %flex-center;
  position: absolute;
  pointer-events: none;
}

@mixin input-colors($selector) {
  &:not(&-error, &-success, &-disabled) {
    #{$selector}:focus {
      border-color: var(--primary);
    }

    svg {
      color: var(--on-surface-variant);
    }

    svg:has(+ #{$selector}:focus),
    #{$selector}:focus + svg {
      color: var(--primary);
    }
  }

  &-error {
    color: var(--error);

    #{$selector} {
      border-color: var(--error);
    }

    svg:has(+ #{$selector}:focus),
    #{$selector}:focus + svg {
      color: var(--error);
    }
  }

  &-success {
    color: var(--success);

    #{$selector} {
      border-color: var(--success);
    }
  }

  &-disabled {
    color: var(--action-disabled-text);

    #{$selector} {
      background-color: var(--action-disabled-background);
      border-color: var(--action-disabled-background);
      cursor: not-allowed;
    }
  }
}

@mixin input-sizes($selector) {
  @each $size in sm, md, lg {
    $py: map.get(variables.$input-sizes, $size);
    $px: variables.$input-px;
    $font-size: map.get(variables.$input-font-sizes, $size);
    $icon-size: map.get(variables.$icon-sizes, $size);
    $height: $py * 2 + 2.4rem;
    $radius: map.get(variables.$border-radius, $size);

    &-#{$size} {
      #{$selector} {
        border-radius: $radius;
        padding: calc($py - variables.$border-width) $px;
        font-size: $font-size;
      }

      &.#{$selector}-w-start {
        #{$selector} {
          padding-left: calc($icon-size + $px + variables.$border-width);
        }

        svg:first-child {
          top: calc(($height - $icon-size) / 2);
          left: calc($px * 0.5 + variables.$border-width);
        }
      }

      &.#{$selector}-w-end {
        #{$selector} {
          padding-right: calc($icon-size + $px + variables.$border-width);
        }

        svg:last-child {
          top: calc(($height - $icon-size) / 2);
          right: calc($px * 0.5 + variables.$border-width);
        }
      }
    }
  }
}
