@use "sass:map";
@use "../variables";

@mixin label-colors() {
  color: var(--text-primary);

  &-error {
    color: var(--error);
  }

  &-success {
    color: var(--success);
  }

  &-disabled {
    color: var(--action-disabled-text);
  }
}

@mixin label-sizes() {
  @each $size in sm, md, lg {
    $label-font-size: map.get(variables.$btn-font-sizes, $size);

    &-#{$size} {
      font-size: $label-font-size;
    }
  }
}
