@use "sass:map";
@use "../variables";

@mixin radio-colors() {
  input {
    border-color: var(--outline);

    &:checked {
      border-color: var(--primary);

      &::before {
        background-color: var(--primary);
      }
    }
  }

  @each $color in error, success {
    &-#{$color} input {
      border-color: var(--#{$color});

      &:checked {
        border-color: var(--#{$color});

        &::before {
          background-color: var(--#{$color});
        }
      }
    }
  }

  &-disabled input {
    border-color: var(--outline);

    &:checked {
      border-color: var(--outline);

      &::before {
        background-color: var(--outline);
      }
    }
  }
}

@mixin radio-sizes() {
  @each $size in sm, md, lg {
    $radio-size: map.get(variables.$radio-sizes, $size);
    $before-size: $radio-size - 0.583 * $radio-size;
    $gap: map.get(variables.$radio-gap, $size);
    $icon-size: map.get(variables.$icon-sizes, $size);

    &-#{$size} {
      gap: $gap;

      input {
        width: $radio-size;
        height: $radio-size;

        &::before {
          width: $before-size;
          height: $before-size;
        }
      }
    }
  }
}
