%interactive-element {
  cursor: pointer;
  user-select: none;
  transition: all var(--motion-time-sm);
}

%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%inline-flex-center {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin size-border-radius {
  @each $size in sm, md, lg {
    &-#{Ssize} {
      border-radius: var(--border-radius-#{$size});
    }
  }
}
